<!doctype html>
<html ng-app>

<head>
  <title>List of products in AngularJS</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/toastr.css">
  <link rel="stylesheet" href="css/application.css">
</head>

<body>
  <div class="container" ng-controller="ListaComprasController">

    <div class="row">
      <div class="page-header">
        <div class="span9">
          <h1>List of products</h1>
        </div>
        <div class="span3">
          <input type="search" ng-model="search" placeholder="Search here...">
        </div>
      </div>
    </div>

    <div class="row">
      <table id="lista-compras" class="table table-striped">
        <thead>
          <tr>
            <th>In Stock?</th>
            <th>Product</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in itens | filter:search" class="comprado-{{ item.inStock }}">
            <td>
              <input type="checkbox" ng-model="item.inStock">
            </td>
            <td>
              <strong>{{ item.product }}</strong>
            </td>
            <td>{{ item.quantity }}</td>
            <td>
              <button class="btn btn-warning btn-small" ng-click="editarItem($index)">
                <i class="icon-pencil icon-white"></i> Edit
              </button>
              <button class="btn btn-danger btn-small" ng-click="deleteItem($index)">
                <i class="icon-trash icon-white"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <form class="row form-inline" name="validarValoresPreenchidos">
      <input type="text" ng-model="item.product" placeholder="Produt" required>
      <input type="number" ng-model="item.quantity" placeholder="Quantity" class="input-small" required>
      <button ng-hide="edit" class="btn btn-success" ng-disabled="validarValoresPreenchidos.$invalid" ng-click="adicionaItem()">
        <i class="icon-plus icon-white"></i> Add
      </button>
      <button ng-show="edit" class="btn btn-success" ng-disabled="validarValoresPreenchidos.$invalid" ng-click="applyChanges()">
        <i class="icon-ok icon-white"></i> Update
      </button>
    </form>
  </div>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/toastr.min.js"></script>
  <script src="app/controllers.js"></script>
</body>

</html>